# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
bin
obj
packages
public
node_modules
NuGetReferences
tags
iisnode
dist
.vs
.chrome
.wwp-cache
npm-debug.*
.vscode/tasks.json

*.exe
*.svn
*.idea
*.log
*.suo
*.DS_Store
*.wwp-cache

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Coverage files
coverage

# Bundle report
bundle_report

#Sonar
.scannerwork

# Ui Test files
/ui-test/features/screenshots

**/junit.xml

#Kendo UI Licence
kendo-ui-license.txt
